<div
    data-controller="map"
    data-map-red-traffic-light-icon-value="<%= asset_path('trafficLight/red.png') %>"
    data-map-yellow-traffic-light-icon-value="<%= asset_path('trafficLight/yellow.png') %>"
    data-map-green-traffic-light-icon-value="<%= asset_path('trafficLight/green.png') %>"
    id="map"
    class="h-screen w-screen"
>
</div>