/* styles.css */

/* Estilos generales */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Evita el scroll en la página */
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Cabecera fija */
.cabecera {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000; /* Asegura que la cabecera esté sobre el contenido */
    font-size: 22px;
}

.cabecera span {
    justify-self: center;
}

.cabecera button {
    margin: 0 10px;
    color: black;
    background-color: white;
}

/* Estilos para el contenedor de la página */
.contenedor {
    display: flex;
    height: calc(100vh - 50px); /* Ajusta la altura para dejar espacio para la cabecera */
    margin-top: 60px; /* Espacio para la cabecera fija */
}

/* Estilos para la columna de la izquierda */
#left-column {
    width: 250px; /* Ancho de la columna de la izquierda */
    padding: 10px; /* Añade padding interno para dar espacio dentro de la columna */
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: #f4f4f4;
    overflow-y: auto; /* Para que la columna tenga scroll si los elementos son muchos */
    /*align-items: center;*/
}

/* Estilos para el contenedor del mapa */
#map-container {
    flex: 1; /* Ajusta el tamaño del contenedor del mapa para ocupar el espacio restante */
    height: 100%; /* Asegura que el contenedor del mapa ocupe toda la altura disponible */
}

#map {
    width: 100%;
    height: 100%; /* Ajusta el tamaño del mapa al contenedor */
}

/* Estilos para los títulos */
.Titulo {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.icon-green { background-color: green; }
.icon-yellow { background-color: yellow; }
.icon-red { background-color: red; }

/* Asegura que la lista de botones esté centrada */
ul {
    padding: 0;
    margin: 0;
}

/* Botones dentro de la lista */
.opcion-btn {
    width: 100%;
    max-width: 200px;
    margin: 5px 0;
    display: block;
}

.btn-active {
    background-color: #007bff !important; /* Color de fondo del botón activo */
    color: white !important;             /* Color del texto del botón activo */
}
